h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #1A3B5D;
    border-bottom: 3px solid #1A3B5D;
    padding-bottom: 10px;
    margin-bottom: 1.5rem;
  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    margin-left: 10%;
    color: #1A3B5D;
    font-size: 24px;
    font-weight: 500;
  }
  
  form {
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
  }
  
  .form-group {
    margin-top: 2%;
    margin-left: 10%;
    color: #1A3B5D;
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  textarea,
  select {
    font-size: 1rem;
    line-height: 1.5;
    color: #1A3B5D;
    background-color: #F5F5F5;
    background-clip: padding-box;
    border: 1px solid #1A3B5D;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 400px;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
  }
  
  input[type="file"] {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  
  button[type="button"],
  button[type="submit"] {
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #1A3B5D;
    color: #FFFFFF;
    font-size: 1.1rem;
    white-space: nowrap;
    min-width: 7rem; /* Updated min-width for equal size */
  }
  
  button[type="submit"] {
    margin-left: 19%;
  }
  
  button[type="button"]:hover,
  button[type="submit"]:hover {
    background-color: #3E6AA3;
  }
  
  button[type="submit"]:disabled {
    background-color: #A3B1C6;
    cursor: not-allowed;
  }
  
  /* Updated styles for the Add and Remove Co-author buttons */
  button.add-co-author {
    margin-left: 10%;
    margin-top: 1rem;
  }
  
  button.remove-co-author {
    margin-right: 1rem;
    margin-top: 0;
  }
  
  
  .error-message {
    color: red;
    margin-bottom: 2rem;
  }
  