<nav class="toolbar">
  <img class="logo" [src]="logoURL" alt="logo" />
  <a class="toggle-button" (click)="openToolbar()">
    <span class="bar"> </span>
    <span class="bar"> </span>
    <span class="bar"> </span>
  </a>
  <div [class.toolbarClass]="toolbarVariable">
    <ul>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/committees">Committees</a>
      </li>
      <li>
        <a routerLink="/important-dates">Important Dates</a>
      </li>
      <li>
        <a routerLink="/call-for-papers">Call For Papers</a>
      </li>
      <li>
        <a routerLink="/submit">Submit</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
      <li>
        <a routerLink="/publication-index">Publication Index</a>
      </li>
      <li>
        <a routerLink="/admin">login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="photo">
  <img [src]="backgroundURL" alt="background" class="background-img" />
  <h1 [innerHTML]="titreAffiche"></h1>
</div>

<div class="footer">
  <img class="logo" style="margin-top: 1.5rem" [src]="logoURL" alt="logo" />

  <span style="margin-right: 3%" [innerHTML]="contentAffiche"></span>
</div>
