<style>
  :host {
    font-weight: bold;
    color: #cfc3c3;
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50.6px;
    background-color: #0a2647;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .toolbar {
    font-family: "Times New Roman", Times, serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:50px;
    display: flex;
    align-items: center;
    background-color: #0a2647;
    justify-content: space-between;
  }
  .toolbar ul {
    list-style: none;
    font-size: 13px;
    display: flex;
  }
  .toolbar li {
    margin-right: 1em;
  }
  .toolbar a {
    font-size: 150%;
    text-decoration: none;
    color: #fff4e0;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .toolbar a:hover {
    color: #2c74b3;
  }
  .toolbar a:active {
    color: #fff4e0;
  }

  h1 {
    font-size: 60px;
    color: #fff4e0;
    text-align: center;
  }
  .photo {
    background-image: url("assets/image/conference.jpg");
    margin-top: 5.5%;
    margin-left: 1%;
    margin-right: 1%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 4%;
    margin: 1%;
  }
</style>
<nav class="toolbar">
  <img class="logo" src="assets/image/logo.png" alt="logo" />

  <div>
    <ul>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/committees">Committees</a>
      </li>
      <li>
        <a routerLink="/important-dates">Important Dates</a>
      </li>
      <li>
        <a routerLink="/call-for-papers">Call For Papers</a>
      </li>
      <li>
        <a routerLink="/submit">Submit</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
      <li>
        <a routerLink="/publication-index">Publication Index</a>
      </li>
      <li>
        <a routerLink="/admin">login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="photo">
  <h1>
    The 1st National Conference on Computer Science and Artificial Intelligence
    (NCCSAI 2023)
  </h1>
</div>

<div class="footer">
  <img class="logo" src="assets/image/logo.png" alt="logo" />
  <span style="margin-right: 3%">contact@gmail.com</span>
</div>
