select {
  margin-top: 2%;
  color: #4d4d4d;
  margin-left: 86%;
  margin-bottom: 2%;
}
h1 {
  text-align: center;
  color: #0a2647;
  border-bottom: 3px solid #4d4d4d;
  border-style: double;
}
button {
  margin-left: 92%;
  margin-top: 2%;
  background-color: #0a2647;
  color: antiquewhite;
  width: 7%;
  height: 19%;
  font-size: 22px;
  border-radius: 0.3rem;
}
.ck{
  background-color: white;
}

