<h1>ABOUT</h1>
<div class="content">
  <p [innerHTML]="contentAffiche"></p>
</div>

<h1>Conference Programme</h1>
<span class="comment" [innerHTML]="conferencePorgramme"></span>

<h1>Conference Venue</h1>
<div class="venue">
  <h2 s[innerHTML]="conferenceVenue"></h2>
  <img [src]="venueImageURL" alt="Conference Venue" />
</div>

<h1>Partners</h1>
<div class="part">
  <ul class="photo-list">
    <li><img [src]="sponsor1URL" alt="Logo 1" /></li>
    <li><img [src]="sponsor2URL" alt="Logo 2" /></li>
    <li><img [src]="sponsor3URL" alt="Logo 3" /></li>
    <li><img [src]="sponsor4URL" alt="Logo 4" /></li>
   
  </ul>
</div>