:host{
    color: #4D4D4D;
    text-align: center;
}
p{
  margin-left:2% ;
 margin-top: 5%;
text-align:left;
color:#4D4D4D;
font-size: 18px;
}
.content {
margin-right: 5%;
padding:auto;
}
h1{
color: #0A2647;
border-bottom: 3px  solid #4D4D4D;
border-style: double;
}
.comment {
font-size: 14px;
color: #4D4D4D;

}
.map {
display: flex;
justify-content: center;
height: 400px;
margin-top: 2em;
height: 100%;
width: 100%;
}
.part{
background-color: #466783;
padding: auto;
}
ul{
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
img{
  
  width: 100px ;
 height: 60px;
  margin: 10px;
 
}