<h1>ABOUT</h1>
<div class="content">
  <p [innerHTML]="contentAffiche"></p>
</div>

<h1>Conference Programme</h1>
<span class="comment" [innerHTML]="conferencePorgramme"></span>

<h1>Conference Venue</h1>
<h2 [innerHTML]="conferenceVenue"></h2>

<h1>Partners</h1>
<div class="part">
  <ul class="photo-list">
    <li><img src="assets/image/logo1.jpg" alt="Logo 1" /></li>
    <li><img src="assets/image/logo2.png" alt="Logo 2" /></li>
    <li><img src="assets/image/logo 3.jpg" alt="Logo 3" /></li>
    <li><img src="assets/image/logo4.jpg" alt="Logo 4" /></li>
    <li><img src="assets/image/logo5.jpg" alt="Logo 5" /></li>
  </ul>
</div>