<div><h1>SUBMISSION</h1></div>
<router-outlet></router-outlet>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">First name :</label><br>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="familyName">Last name :</label><br>
    <input type="text" class="form-control" id="familyName" name="familyName" [(ngModel)]="familyName">
  </div>
  <div class="form-group">
    <label for="email">Email :</label><br>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="payment">Payment :</label><br>
    <input type="file" id="payment" name="payment">
  </div>
  <button type="submit">Send</button>
</form>
