
<div><h1>SUBMISSION</h1></div>
<form  >
  <div class="form-group">
    <label for="First name">First name :</label><br>
    <input type="text" class="form-control" id="First name" name="First name" >
  </div>
  <div class="form-group">
    <label for="prenom">last name :</label><br>
    <input type="text" class="form-control" id="last name" name="last name">
  </div>
  <div class="form-group">
    <label for="email">Email :</label><br>
    <input type="email" class="form-control" id="email" name="email" >
  </div>
  <div class="form-group">
    <label for="tel">phone number :</label><br>
    <input type="tel" class="form-control" id="phone number" name="phone number" >
  </div>
  <div class="form-group">
    <label for="photo">Photo :</label><br>
    <input type="file"  id="photo" name="photo">
  </div>
  <button type="submit" >send</button>
</form>

