:host {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
}
h1 {
  text-align: center;
  color: #1a3b5d;
  border-bottom: 3px solid #1a3b5d;
  padding-bottom: 0.5rem;
  font-family: "Arial", sans-serif;
}

h2 {
  margin-top: 2%;
  margin-left: 10%;
  color: #1a3b5d;
  font-weight: 500;
}

form {
  margin-left: 15%;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  font-size: 1rem;
  line-height: 1.5;
  color: #1a3b5d;
  background-color: #f5f5f5;
  background-clip: padding-box;
  border: 1px solid #1a3b5d;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 41%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
}

input[type="file"] {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

button[type="button"],
button[type="submit"] {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #1a3b5d;
  color: #ffffff;
  font-size: 1.1rem;
  white-space: nowrap;
  min-width: 7rem; /* Updated min-width for equal size */
}

button[type="submit"] {
  margin-left: 29%;
}

button[type="button"]:hover,
button[type="submit"]:hover {
  background-color: #3e6aa3;
}

button[type="submit"]:disabled {
  background-color: #a3b1c6;
  cursor: not-allowed;
}

/* Updated styles for the Add and Remove Co-author buttons */

.error-message {
  color: red;
  margin-bottom: 2rem;
}
@media (max-width: 946px) {
  form {
    margin-left: 1%;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  textarea {
    max-width: 70%;
  }
  select {
    max-width: 30%;
  }
}