body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #1A3B5D;
  border-bottom: 3px solid #1A3B5D;
  padding-bottom: 10px;
  margin-bottom: 1.5rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  color: #4d4d4d;
  border-collapse: collapse;
  width: 50%;
  margin-bottom: 1.5rem;
}

th,
td {
  border: 1px solid #4d4d4d;
  padding: 8px;
  text-align: left;
}

th {
  color: #fff4e0;
  background-color: #205295;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

form {
  width: 45%;
  background-color: #F5F5F5;
  padding: 1.5rem;
  border: 1px solid #1A3B5D;
  border-radius: 0.25rem;
}

.form-group {
  margin-top: 2%;
  margin-left: 10%;
  color: #1A3B5D;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  font-size: 1rem;
  line-height: 1.5;
  color: #1A3B5D;
  background-color: #F5F5F5;
  background-clip: padding-box;
  border: 1px solid #1A3B5D;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 400px;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
}

input[type="file"] {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

button[type="submit"] {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: 19%;
  background-color: #1A3B5D;
  color: #FFFFFF;
  font-size: 1.1rem;
  white-space: nowrap;
  min-width: 7rem;
}

button[type="submit"]:hover {
  background-color: #3E6AA3;
}

button[type="submit"]:disabled {
  background-color: #A3B1C6;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-bottom: 2rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #1A3B5D;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-decoration: underline;
}