<div><h1>REGISTRATION</h1></div>
<div><table>
    <thead>
      <tr>
        <th>Registration</th>
        <th>Fees</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full registration</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>Student registration</td>
        <td>$250</td>
      </tr>
      <tr>
        <td>One-day registration</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Workshop registration</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div>
text

  </div>

