
h1{
    text-align: center;
    color: #0A2647;
    border-bottom: 3px  solid #4D4D4D;
    border-style: double;
 }
 table {
    margin-left: 5%;
    color: #4D4D4D;
    border-collapse: collapse;
    width: 30%;
  }
  
  th, td {
    
    border: 1px solid #4D4D4D;
    padding: 8px;
    text-align: left;
  }
  
  th {
    color: #FFF4E0;
    background-color: #205295;
  }
  

h1{
  text-align: center;
  color: #0A2647;
  border-bottom: 3px  solid #4D4D4D;
  border-style: double;
}

  .form-group {
      margin-top: 2%;
      margin-left: 10%;
      color: #4D4D4D;
      margin-bottom: 1rem;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      font-size: 1rem;
      line-height: 1.5;
      color: #0A2647;
      background-color: #f0e6e6;
      background-clip: padding-box;
      border: 1px solid #0A2647;
      border-radius: 0.25rem;
    }
    
    input[type="file"] {
      
      margin-top: 0.25rem;
      

    }
    
    button[type="submit"] {
      border-radius: 0.3rem;
      padding: 0.5rem 1rem; /* Add padding to the button */
      margin-top: 1rem;
      margin-left: 19%;
      background-color: #0A2647;
      color: #4D4D4D;
      font-size: 1.3rem;
      white-space: nowrap; /* Prevent text wrapping to the next line */
      min-width: 5rem; /* Set the minimum width for the button */
    }
    
    
    button[type="submit"]:hover {
      background-color: #1E4A8C; /* Change background-color on hover */
    }
    
    button[type="submit"]:disabled {
      background-color: #A3B1C6; /* Change background-color for disabled state */
      cursor: not-allowed; /* Change cursor to not-allowed for disabled state */
    }
    