


<div ><h1>IMPORTANT DATES</h1></div>
<div [innerHTML]="content"></div>
<div><p>Call for Papers,</p>
<span class="comment">Deadline for paper submission</span>
<p>June 30, 2023</p> 

<span class="comment" >   Author Notification of Acceptance</span>
<br>

<p class="cross">July 15,  2023 </p>

 <span class="comment">  Submission deadline for the final version of the Papers</span>

<br>
<p> July 25,  2023</p>

<span class="comment"> Conference registration deadline</span>


<p> October, 11-13, 2023</p>

<span class="comment"> Conference</span></div>

