:host {
  font-family: "Roboto", sans-serif;
  color: #000;
}
h1 {
  text-align: center;
  color: #0a2647;
  border-bottom: 3px solid #0a2647;
  padding-bottom: 0.5rem;
  font-family: "Arial", sans-serif;
}

p {
  font-size: 18px;
  margin-left: 15%;
  margin-top: 3%;
}
