<style>
h1{
    text-align: center;
    color: #B46060;
    border-bottom: 3px  solid #4D4D4D;
    border-style: double;
 }
 .comment {
    margin-left:6.7% ;
    font-size: 14px;
    color: #4D4D4D;
    
}

    p{
        margin-left:6% ;
        margin-top: 5%;
    text-align:left;
    font-weight: bold;
    color:#4D4D4D;
    font-size: 20px;
 }

.cross {
  text-decoration: line-through;
  
}
</style>
<div ><h1>IMPORTANT DATES</h1></div>
<div><p>Call for Papers,</p>
<span class="comment">Deadline for paper submission</span>
<p>June 30, 2023</p> 

<span class="comment" >   Author Notification of Acceptance</span>
<br>

<p class="cross">July 15,  2023 </p>

 <span class="comment">  Submission deadline for the final version of the Papers</span>

<br>
<p> July 25,  2023</p>

<span class="comment"> Conference registration deadline</span>


<p> October, 11-13, 2023</p>

<span class="comment"> Conference</span></div>

