/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* Add these styles to styles.css or styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
:root {
  --primary-color: #1d3557;
  --secondary-color: #457b9d;
  --accent-color: #e63946;
  --light-text-color: #FFFFFF;
  --dark-text-color: #4D4D4D;
}

  .mat-snack-bar-container-center {
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    position: fixed !important;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  