<div>
    <h1>CALL FOR PAPERS</h1>
    <div><p [innerHTML]="content"></p></div>
    <p>
      We invite researchers and practitioners to report on up-to-date innovation
      and development, and summarize the state-of-the-art, ideas and advances in
      all aspects of the most recent innovations, trends, results, experiences,
      and concerns in the several perspectives of Technologies, Information,
      Innovation, and Sustainability. Prospective authors are encouraged to submit
      papers for evaluation by the Scientific Committee. All papers will be
      subjected to a “double-blind review” by at least three members of the
      Scientific Committee, on the basis of relevance, originality, importance,
      and clarity. Submitted papers should be related to one or more of the main
      themes proposed.
    </p>
  
    <ul style="color: #0a2647">
      <li>
        Computing Solutions
        <ul>
          <li>
            Applied Information Systems (e. g. Healthcare, Law, Economics,
            Education)
          </li>
  
          <li>Web and Mobile Applications</li>
  
          <li>Networks, Mobility, Ubiquity and Pervasive Systems</li>
  
          <li>Innovative Computing</li>
  
          <li>Gamification Application and Technologies</li>
  
          <li>Software Engineering</li>
        </ul>
      </li>
      <li>
        Data Intelligence
        <ul>
          <li>
            Advanced Computational Intelligence (e. g. Geoinformatics, Neural
            Computing, Web Scraping)
          </li>
  
          <li>Computer Vision and Image Processing</li>
  
          <li>Artificial Intelligence and Data Science</li>
  
          <li>Data Engineering, Analytics, and Applications</li>
  
          <li>Intelligent and Decision Support Systems</li>
  
          <li>Information and Knowledge Management</li>
        </ul>
      </li>
      <li>
        Sustainability
        <ul>
          <li>Immersive Tech and the Future of Smart Cities</li>
  
          <li>Industrial Advanced Internet of Things</li>
  
          <li>Internet of Things Environment</li>
  
          <li>Sustainable Infrastructure Development</li>
  
          <li>Technology, Marketing and Socio-economic challenges</li>
        </ul>
      </li>
      <li>
        Ethics, Security, and Privacy
        <ul>
          <li>Information and Telecommunication Systems Security</li>
  
          <li>Innovative Communication Networks and Security</li>
  
          <li>Vulnerabilities of Interoperability and Information system</li>
  
          <li>Interdisciplinary Information Studies</li>
  
          <li>Ethics of Social Sciences for Computer Applications</li>
        </ul>
      </li>
    </ul>
  </div>