<div class="author-dashboard">
  <h1>Welcome, {{ authorName }}!</h1>
  <h2>Here are your current submissions:</h2>
</div>
<button routerLink="/add-submission" class="add-submission-button">Add New Submission</button>
<div *ngIf="submissions.length === 0">
  <p>No submissions found.</p>
</div>
<div class="submissions-table-container">
  <div class="table-responsive">
    <table class="submissions-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Abstract</th>
          <th>Keywords</th>
          <th>Status</th>
          <th>Submission Data</th>
          <th>Type</th> <!-- Added a header for the Submission Type column -->
          <th>Modify</th>
          <th>Paper</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of submissions">
          <td data-label="ID">{{ submission.customId }}</td>
          <td data-label="Title">{{ submission.title }}</td>
          <td data-label="Abstract">{{ submission.abstractText }}</td>
          <td data-label="Keywords">{{ submission.keywords }}</td>
          <td data-label="Status">{{ submission.submissionState }}</td>
          <td data-label="Submission Date">{{ submission.submissionDate }}</td>
          <td data-label="Type">{{ submission.submissionType }}</td> <!-- Added Submission Type field -->
          <td data-label="Modify">
            <button (click)="modifySubmission(submission.id)">Modify</button>
          </td>
          <td data-label="Paper">
            <a [href]="getPaperUrl('papers', submission.paper)" target="_blank">Download Paper</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
