<div class="author-dashboard">
  <h1>Welcome, {{ authorName }}!</h1>
  <h2>Here are your current submissions:</h2>
</div>
<button class="logout-button" (click)="logout()">Logout</button>
<div class="instruction-container">
  <button routerLink="/add-submission" class="add-submission-button">Add New Submission</button>
  <div class="instructions">
    <p class="note">N.B</p>
    <p>You can modify your submissions or add new ones. When your submission status is "accepted," you can pay for the submission.</p>
  </div>
</div>
<div *ngIf="submissions.length === 0">
  <p>No submissions found.</p>
</div>
<div class="submissions-table-container">
  <div class="table-responsive">
    <table class="submissions-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Abstract</th>
          <th>Keywords</th>
          <th>Status</th>
          <th>Submission Data</th>
          <th>Type</th> 
          <th>Modify</th>
          <th>Paper</th>
          <th>Payment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of submissions">
          <td data-label="ID">{{ submission.customId }}</td>
          <td data-label="Title">{{ submission.title }}</td>
          <td data-label="Abstract">{{ submission.abstractText }}</td>
          <td data-label="Keywords">{{ submission.keywords }}</td>
          <td data-label="Status">{{ submission.submissionStatus }}</td>
          <td data-label="Submission Date">{{ submission.submissionDate| date:'dd/MM/yyyy' }}</td>
          <td data-label="Type">{{ submission.submissionType }}</td> 
          <td data-label="Modify">
            <button [disabled]="submission.submissionStatus === 'IN_REVIEW' || submission.submissionStatus === 'ACCEPTED' || submission.submissionStatus === 'REJECTED'" (click)="modifySubmission(submission.id)">Modify</button>
          </td>
          <td data-label="Paper">
            <a [href]="getPaperUrl('papers', submission.paper)" target="_blank">Download Paper</a>
          </td>
          <td data-label="Payment">
            <button [disabled]="submission.submissionStatus !== 'ACCEPTED'" (click)="paymentInput.click()">Pay</button>
            <input #paymentInput type="file" style="display: none;" (change)="onPaymentFileSelected($event, submission.id)" accept=".pdf">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
